@import '../variables/border.css';
@import '../variables/color.css';

.b {
  border: var(--b);
}

.b-0 {
  border: none;
}

/* use the default border but override color with transparent */
.b-T {
  border: var(--b);
  border-color: transparent;
}