body, .f-B {
  line-height: var(--lh-B);
  font-family: var(--ff-B);
  font-weight: var(--fw-B);
  font-style: var(--fi-B);
  text-decoration: var(--td-B);
  text-transform: var(--tt-B);
  letter-spacing: var(--ls-B);
  text-shadow: var(--ts-B);
}

/* BODY */
.ff-B {
  font-family: var(--ff-B);
}

.fs-B {
  font-size: var(--fs-B);
}

.lh-B {
  line-height: var(--lh-B);
}

.ls-B {
  letter-spacing: var(--ls-B);
}

.ts-B {
  text-shadow: var(--ts-B);
}

/* HEADINGS */
@define-mixin heading $1 {
h$(1), .h$(1) {
  font-size: var(--fs-H$(1));
  font-family: var(--ff-H$(1), var(--ff-H));
  font-weight: var(--fw-H$(1), var(--fw-H));
  font-style: var(--fi-H$(1), var(--fi-H));
  line-height: var(--lh-H$(1), var(--lh-H));
  text-decoration: var(--td-H$(1), var(--td-H));
  text-transform: var(--tt-H$(1), var(--tt-H));
}
}

@for $i from 1 to 6 {
@mixin heading $i;
}

.ff-H {
  font-family: var(--ff-H);
}

.lh-H {
  line-height: var(--lh-H);
}

.fw-H {
  font-weight: var(--fw-H);
}

.fi-H {
  font-style: var(--fi-H);
}

.td-H {
  text-decoration: var(--td-H);
}

.tt-H {
  text-transform: var(--tt-H);
}

.ls-H {
  letter-spacing: var(--ls-H);
}

.ts-H {
  text-shadow: var(--ts-H);
}

.fw-b {
  font-weight: bold;
}

.fw-n {
  font-weight: normal;
}

.fi-i {
  font-style: italic;
}

.fi-n {
  font-style: normal;
}

.ta-s {
  text-align: start;
}

.ta-c {
  text-align: center;
}

.ta-e {
  text-align: end;
}

.tt-u {
  text-transform: uppercase;
}

.tt-c {
  text-transform: capitalize;
}

.tt-l {
  text-transform: lowercase;
}

.tt-0 {
  text-transform: none;
}

.td-u {
  text-decoration: underline;
}

.td-o {
  text-decoration: overline;
}

.td-s {
  text-decoration-line: line-through;
}

.td-0 {
  text-decoration: none;
}