.A-FI {
  opacity: 100;
}

.A-FO {
  opacity: 0;
}

.A-FS--P:not(:hover) > *,
.A-FS--P:not(:focus) > *,
.A-FS--H:not(:hover) > *,
.A-FS--F:not(:focus) {
  transition-property: opacity;
  opacity: 1;
}

.A-FS--P:hover > :not(:hover),
.A-FS--P:focus > :not(:focus),
.A-FS--H:hover > :not(:hover),
.A-FS--F:focus > :not(:focus) {
  opacity: 0.5;
}