@import './spacing.css';

:root {
  /* size */
  --fs-B: 1rem;
  --fs-S: {{ font.subheading.size }};
  --fs-P: {{ font.pullQuote.size }};

  /* unless override is set, use typographic scale */
  /* until css pow() function gets more adoption, hack it */
  --fs-S: {{ font.scale }};
  --fs-S-start: {{ font.scaleStart }};
  --fs-S-S: var(--fs-S-start, 1rem);
  --fs-H6: var(--fs-H6-O, --fs-S-S);
  --fs-H5: var(--fs-H5-O, calc(var(--fs-S) * var(--fs-S-S)));
  --fs-H4: var(--fs-H4-O, calc(var(--fs-S) * var(--fs-S) * var(--fs-S-S)));
  --fs-H3: var(--fs-H3-O, calc(var(--fs-S) * var(--fs-S) * var(--fs-S) * var(--fs-S-S)));
  --fs-H2: var(--fs-H2-O, calc(var(--fs-S) * var(--fs-S) * var(--fs-S) * var(--fs-S) * var(--fs-S-S)));
  --fs-H1: var(--fs-H1-O, calc(var(--fs-S) * var(--fs-S) * var(--fs-S) * var(--fs-S) * var(--fs-S) * var(--fs-S-S)));

  /* family */
  --ff-B: {{ font.body.family }};
  --ff-H: {{ font.heading.family }}; 
  --ff-S: {{ font.subheading.family }};
  --ff-P: {{ font.pullQuote.family }};

  /* weight */
  --fw-B: {{ font.body.weight }};
  --fw-H: {{ font.heading.weight }};
  --fw-S: {{ font.subheading.weight }};
  --fw-P: {{ font.pullQuote.weight }};

  /* line heights */
  --lh-B: {{ font.body.lineHeight }};
  --lh-H: {{ font.heading.lineHeight }};
  --lh-S: {{ font.subheading.lineHeight }};
  --lh-P: {{ font.pullQuote.lineHeight }};
  
  /* text-decoration */
  --td-B: {{ font.body.decoration }};
  --td-H: {{ font.heading.decoration }};
  --td-S: {{ font.subheading.decoration }};
  --td-P: {{ font.pullQuote.decoration }};

  /* text-transform */
  --tt-B: {{ font.body.transform }};
  --tt-H: {{ font.heading.transform }};
  --tt-S: {{ font.subheading.transform }};
  --tt-P: {{ font.pullQuote.transform }};

  /* letter-spacing */
  --ls-B: {{ font.body.letterSpacing }};
  --ls-H: {{ font.heading.letterSpacing }};
  --ls-S: {{ font.subheading.letterSpacing }};
  --ls-P: {{ font.pullQuote.letterSpacing }};

  /* shadow */
  --ts-B: {{ font.body.shadow }};
  --ts-H: {{ font.heading.shadow }};
  --ts-S: {{ font.subheading.shadow }};
  --ts-P: {{ font.pullQuote.shadow }};
}
