:root, .light {
  color-scheme: light;
  --fui-theme-neutral-color: var(--fui-color-dark-text);
  --fui-theme-neutral-color-disabled: var(--fui-color-dark-text);
  --fui-theme-neutral-color-visited: var(--fui-color-dark-text);
  --fui-theme-neutral-background-color: var(--fui-color-neutral-50);

  --fui-theme-primary-color: var(--fui-color-light-text);
  --fui-theme-primary-color-disabled: var(--fui-color-light-text-disabled);
  --fui-theme-primary-color-visited: var(--fui-color-light-text-visited);
  --fui-theme-primary-background-color: var(--fui-color-primary);
  
  --fui-theme-accent-color: var(--fui-color-light-text);
  --fui-theme-accent-color-disabled: var(--fui-color-light-text-disabled);
  --fui-theme-accent-color-visited: var(--fui-color-light-text-visited);
  --fui-theme-accent-background-color: var(--fui-color-accent);

  --fui-theme-complement-color: var(--fui-color-light-text);
  --fui-theme-complement-color-disabled: var(--fui-color-light-text-disabled);
  --fui-theme-complement-color-visited: var(--fui-color-light-text-visited);
  --fui-theme-complement-background-color: var(--fui-color-complement);
}