@import '../variables/border.css';
@import '../variables/color.css';

.b-0 {
  border: none;
}

.b, .b--pin:hover, .b--pin:focus, .b--hover:hover, .b--focus:focus, .b--active:active {
  border: var(--b);
}

.b-P, .b-P--pin:hover, .b-P--pin:focus, .b-P--hover:hover, .b-P--focus:focus, .b-P--active:active {
  border-color: var(--c-P);
}