
/* BODY */
.ff-B {
  font-family: var(--ff-B);
}

.fs-B {
  font-family: var(--fs-B);
}

.lh-B {
  font-family: var(--lh-B);
}

/* HEADINGS */
@define-mixin heading $1 {
h$(1), .h$(1) {
  line-height: var(--lh-H$(1));
  font-family: var(--ff-H$(1));
  font-size: var(--fs-H$(1));
  font-weight: var(--fw-H$(1));
  text-decoration: var(--td-H$(1));
  text-transform: var(--tt-H$(1));
}
}

@for $1 from 1 to 6 {
@mixin heading $i;
}

.ff-H {
  font-family: var(--ff-H);
}

@define-mixin heading-size $1 {
.fs-H$(1) {
  font-size: var(--fs-H$(1));
}
}

@for $1 from 1 to 6 {
@mixin heading-size 1;
}

.lh-H {
  line-height: var(--lh-H);
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.ta-s {
  text-align: start;
}

.ta-c {
  text-align: center;
}

.ta-e {
  text-align: end;
}