body, .f-B {
  line-height: var(--lh-B);
  font-family: var(--ff-B);
  font-size: 1rem;
  font-weight: var(--fw-B);
  font-style: var(--fi-B);
  text-decoration: var(--td-B);
  text-transform: var(--tt-B);
}

/* BODY */
.ff-B {
  font-family: var(--ff-B);
}

.fs-B {
  font-size: var(--fs-B);
}

.lh-B {
  line-height: var(--lh-B);
}

/* HEADINGS */
@define-mixin heading $1 {
h$(1), .h$(1) {
  line-height: var(--lh-H$(1));
  font-family: var(--ff-H$(1));
  font-size: var(--fs-H$(1));
  font-weight: var(--fw-H$(1));
  font-style: var(--fi-H$(1));
  text-decoration: var(--td-H$(1));
  text-transform: var(--tt-H$(1));
}
}

@for $i from 1 to 6 {
@mixin heading $i;
}

.ff-H {
  font-family: var(--ff-H);
}

@define-mixin heading-size $1 {
.fs-H$(1) {
  font-size: var(--fs-H$(1));
}
}

@for $i from 1 to 6 {
@mixin heading-size $i;
}

.lh-H {
  line-height: var(--lh-H);
}

@define-mixin heading-line-height $1 {
.lh-H$(1) {
  line-height: var(--lh-H$(1));
}
}

@for $i from 1 to 6 {
@mixin heading-line-height $i;
}

.fw-H {
  font-weight: var(--fw-H);
}

@define-mixin heading-weight $1 {
.fw-H$(1) {
  font-weight: var(--fw-H$(1));
}
}

@for $i from 1 to 6 {
@mixin heading-weight $i;
}

.fi-H {
  font-style: var(--fi-H);
}

@define-mixin heading-style $1 {
.fi-H$(1) {
  font-style: var(--fi-H$(1));
}
}

@for $i from 1 to 6 {
@mixin heading-style $i;
}

.td-H {
  text-decoration: var(--td-H);
}

@define-mixin heading-decoration $1 {
.td-H$(1) {
  text-decoration: var(--td-H$(1));
}
}

@for $i from 1 to 6 {
@mixin heading-decoration $i;
}

.tt-H {
  text-transform: var(--tt-H);
}

@define-mixin heading-transform $1 {
.tt-H$(1) {
  text-transform: var(--tt-H$(1));
}
}

@for $i from 1 to 6 {
@mixin heading-transform $i;
}

.b, .fw-b {
  font-weight: bold;
}

.fw-n {
  font-weight: normal;
}

.i, .fi-i {
  font-style: italic;
}

.fi-n {
  font-style: normal;
}

.ta-s {
  text-align: start;
}

.ta-c {
  text-align: center;
}

.ta-e {
  text-align: end;
}

.tt-u {
  text-transform: uppercase;
}

.tt-c {
  text-transform: capitalize;
}

.tt-l {
  text-transform: lowercase;
}

.tt-0 {
  text-transform: none;
}

.td-u {
  text-decoration: underline;
}

.td-o {
  text-decoration: overline;
}

.td-s {
  text-decoration-line: line-through;
}

.td-0 {
  text-decoration: none;
}