.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.unset {
  border: unset;
  margin: unset;
  padding: unset;
  display: unset;
  position: unset;
  box-shadow: unset;
  font-size: unset;
  line-height: unset;
  color: unset;
}