@import '../variables/index.css';

.w-full {
  width: 100%;
}

.w-page {
  width: 65em;
}

.h-full {
  height: 100%;
}

.h-vp {
  height: 100vh;
}

.L-P {
  max-width: var(--w-P);
  margin-left: auto;
  margin-right: auto;

  /* TODO: variables for these */
  padding-left: var(--S-P);
  padding-right: var(--S-P);
}

.L-G {
  gap: var(--S-1);
  display: flex;
  flex-direction: column;
}

@for $i from 1 to 6 {
.L-G-$(i) {
  gap: calc(var(--S-$(i)));
}
}

.L-s, .L-ss, .L-sc, .L-se, .L-c, .L-cs, .L-cc, .L-ce, .L-e, .L-es, .L-ec, .L-ee {
  display: flex;
}

.L-s, .L-ss {
  justify-content: start;
  align-items: start;
}

.L-sc {
  justify-content: start;
  align-items: center;
}

.L-se {
  justify-content: start;
  align-items: end;
}

.L-cs {
  justify-content: center;
  align-items: start;
}

.L-c, .L-cc {
  justify-content: center;
  align-items: center;
}

.L-ce {
  justify-content: center;
  align-items: end; 
}

.L-es {
  justify-content: end;
  align-items: start;
}

.L-ec {
  justify-content: end;
  align-items: center;
}

.L-e, .L-ee {
  justify-content: end;
  align-items: end;
}

/* TODO: finish layouts for translate and table */
.LT-c > * {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}