@import '../variables/index.css';

.w-full {
  width: 100%;
}

.w-page {
  width: 65em;
}

.h-full {
  height: 100%;
}

.h-vp {
  height: 100vh;
}

.h-vp-wo-banner {
  height: calc(100vh - var(--h--b));
}

.page {
  max-width: var(--S-P);
  margin-left: auto;
  margin-right: auto;

  /* TODO: variables for these */
  padding-left: var(--S);
  padding-right: var(--S);
}

.section {
  max-width: var(--S-P);
  margin: auto;

  /* TODO: variables for these */
  padding: var(--S-section-v) var(--S-section-h);
}

.flow {
  max-width: var(--S-P);
  margin: auto;
  padding: var(--S-section-v) var(--S-section-h) 0 var(--S-section-h);
}

/* Layouts are a combination of positioning plus text align */
.L-s, .L-ss, .L-sc, .L-se, .L-c, .L-cs, .L-cc, .L-ce, .L-e, .L-es, .L-ec, .L-ee {
  display: flex;
}

.L-s, .L-ss {
  text-align: start;
  justify-content: start;
  align-items: start;
}

.L-sc {
  text-align: start;
  justify-content: start;
  align-items: center;
}

.L-se {
  text-align: start;
  justify-content: start;
  align-items: end;
}

.L-cs {
  text-align: center;
  justify-content: center;
  align-items: start;
}

.L-c, .L-cc {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.L-ce {
  text-align: center;
  justify-content: center;
  align-items: end; 
}

.L-es {
  text-align: end;
  justify-content: end;
  align-items: start;
}

.L-ec {
  text-align: end;
  justify-content: end;
  align-items: center;
}

.L-e, .L-ee {
  text-align: end;
  justify-content: end;
  align-items: end;
}

/* TODO: fill in and use mixing */
/* .LP-c {
  position: relative;
}

.LP-c > * {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

LT-c {}

LT-c {} */