.o-0 {
  overflow: hidden;
}

.o-a {
  overflow: auto;
}

.o-s {
  overflow: scroll;
}

.ox-0 {
  overflow-x: hidden;
}

.ox-a {
  overflow-x: auto;
}

.ox-s {
  overflow-x: scroll;
}

.oy-0 {
  overflow-y: hidden;
}

.oy-a {
  overflow-y: auto;
}

.oy-s {
  overflow-y: scroll;
}