#skip-nav {
  position: absolute;
  text-align: center;
  width: 100%;
}

#skip-nav > a {
  margin: auto;
  z-index: var(--z-6);
  text-align: center;
}

#skip-nav > a:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  border: 1px solid currentColor;
  padding: var(--p);
}