:root {
  /* @section Animation-variables */
  --fui-animation-speed-slow: 0.5s;
  --fui-animation-speed-medium: 0.3s;
  --fui-animation-speed-fast: 0.1s;
  --fui-animation-default-speed: var(--fui-animation-speed-medium);
  --fui-animation-default-timing-function: ease-in-out;
  --fui-animation-default: var(--fui-animation-default-speed) var(--fui-animation-default-timing-function);
  /* @endsection */

  /* @section Banner-variables */
  --fui-banner-height: 3rem;
  --fui-banner-padding: 0.5rem;
  /* @endsection */

  /* @section Border-variables */
  --fui-border-width: 1px;
  --fui-border-radius: 0.25rem;
  --fui-border-radius-pill: 9999px;
  --fui-border: var(--fui-border-width) solid var(--fui-color-grey-500);
  /* @endsection */

  /* @section Color-variables */
  --fui-swatch-grey-0: #ffffff;
  --fui-swatch-grey-1: #fafafa;
  --fui-swatch-grey-2: #f5f5f5;
  --fui-swatch-grey-3: #bdbdbd;
  --fui-swatch-grey-4: #9e9e9e;
  --fui-swatch-grey-5: #212121;
  --fui-swatch-grey-6: #121212;
  --fui-swatch-grey-7: #1e1c1c;

  --fui-swatch-success-1: #c8e6c9;
  --fui-swatch-success-2: #66bb6a;
  --fui-swatch-success-3: #4caf50;
  --fui-swatch-success-4: #1b5e20;

  --fui-swatch-info-1: #bbdefb;
  --fui-swatch-info-2: #42a5f5;
  --fui-swatch-info-3: #2196f3;
  --fui-swatch-info-4: #0d47a1;

  --fui-swatch-warn-1: #ffe0b2;
  --fui-swatch-warn-2: #ffb74d;
  --fui-swatch-warn-3: #ff9800;
  --fui-swatch-warn-4: #e65100;

  --fui-swatch-danger-100: #ffcdd2;
  --fui-swatch-danger-400: #ef5350;
  --fui-swatch-danger-500: #f44336;
  --fui-swatch-danger-900: #b71c1c;

  --fui-color-dark-text: var(--fui-color-grey-950);
  --fui-color-dark-text-disabled: var(--fui-color-grey-500);
  --fui-color-dark-text-visited: var(--fui-color-grey-900);

  --fui-color-light-text: var(--fui-color-grey-50);
  --fui-color-light-text-disabled: var(--fui-color-grey-400);
  --fui-color-light-text-visited: var(--fui-color-grey-100);
  /* @endsection */

  /* @section Spacing-variables */
  --fui-spacing-base: 4px;
  --fui-spacing-y-min: calc(var(--fui-spacing-base) * 10);
  --fui-spacing-x-min: calc(var(--fui-spacing-base) * 10);
  --fui-spacing-y-max: calc(var(--fui-spacing-base) * 20);
  --fui-spacing-x-max: calc(var(--fui-spacing-base) * 24);
  --fui-spacing-static: var(--fui-spacing-y-min) var(--fui-spacing-x-min);
  --fui-spacing-responsive-y: clamp(var(--fui-spacing-y-min), calc(100vw * 0.08), var(--fui-spacing-y-max));
  --fui-spacing-responsive-x: clamp(var(--fui-spacing-x-min), 5%, var(--fui-spacing-x-max));
  --fui-spacing-responsive: var(--fui-spacing-responsive-y) var(--fui-spacing-responsive-x);
  --fui-spacing-page-width: 65rem;
  --fui-spacing-page-y: var(--fui-spacing-responsive-y);
  --fui-spacing-page-x: max(var(--fui-spacing-x-min), calc((100vw - var(--fui-spacing-page-width)) / 2));
  --fui-spacing-page: var(--fui-spacing-page-y) var(--fui-spacing-page-x);
  --fui-spacing-text: clamp(var(--fui-spacing-y-min), calc(100vw * 0.04), 2rem);
  --fui-spacing-min-touch-size: 44px;
  /* @endsection */

  /* @section Shadow-variables */
  --fui-box-shadow-0: 0;
  --fui-box-shadow-1: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  --fui-box-shadow-2: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  --fui-box-shadow-3: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  --fui-box-shadow-4: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
  --fui-box-shadow-5: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
  --fui-box-shadow-6: 0 16px 64px 0 rgba(0, 0, 0, 0.2);
  /* @endsection */

  /* @section Typography-variables */
  --fui-typographic-scale: 1.25;

  --fui-body-font-family: system-ui, sans-serif;
  --fui-body-font-size: max(1rem, 18px);
  --fui-body-line-height: 1.8;
  --fui-body-font-weight: 400;
  --fui-body-font-style: normal;
  --fui-body-font-variant: normal;
  --fui-body-font-kerning: normal;

  --fui-heading-font-family: 'Josefin Sans', sans-serif;
  --fui-heading-font-weight: 700;
  --fui-heading-font-style: normal;
  --fui-heading-font-variant: normal;
  --fui-heading-font-kerning: normal;
  --fui-heading-text-decoration: none;
  --fui-heading-line-height: 1.5;

  --fui-h6-font-size: var(--fui-body-font-size);
  --fui-h5-font-size: calc(var(--fui-h6-font-size) * var(--fui-font-size-scale));
  --fui-h4-font-size: calc(var(--fui-h5-font-size) * var(--fui-font-size-scale));
  --fui-h3-font-size: calc(var(--fui-h4-font-size) * var(--fui-font-size-scale));
  --fui-h2-font-size: calc(var(--fui-h3-font-size) * var(--fui-font-size-scale));
  --fui-h1-font-size: calc(var(--fui-h2-font-size) * var(--fui-font-size-scale));

  /* @endsection */

  /* @section Z-Index-variables */
  --fui-z-index-banner: 500;
  --fui-z-index-drawer: 1000;
  --fui-z-index-dialog: 2000;
  --fui-z-index-dropdown: 3000;
  --fui-z-index-alert-group: 4000;
  /* @endsection */
}

/* @section Theme-variables */
:root, .light {
  color-scheme: light;
  --fui-theme-neutral-color: var(--fui-color-dark-text);
  --fui-theme-neutral-color-disabled: var(--fui-color-dark-text);
  --fui-theme-neutral-color-visited: var(--fui-color-dark-text);
  --fui-theme-neutral-background-color: var(--fui-color-grey-50);

  --fui-theme-primary-color: var(--fui-color-light-text);
  --fui-theme-primary-color-disabled: var(--fui-color-light-text-disabled);
  --fui-theme-primary-color-visited: var(--fui-color-light-text-visited);
  --fui-theme-primary-background-color: var(--fui-color-primary);
  
  --fui-theme-accent-color: var(--fui-color-light-text);
  --fui-theme-accent-color-disabled: var(--fui-color-light-text-disabled);
  --fui-theme-accent-color-visited: var(--fui-color-light-text-visited);
  --fui-theme-accent-background-color: var(--fui-color-accent);

  --fui-theme-complement-color: var(--fui-color-light-text);
  --fui-theme-complement-color-disabled: var(--fui-color-light-text-disabled);
  --fui-theme-complement-color-visited: var(--fui-color-light-text-visited);
  --fui-theme-complement-background-color: var(--fui-color-complement);
}
/* @endsection */