.field {
  position: relative;
}

.field > label {
  position: relative;
}

.field > input {
  position: relative;
}

[required] + label::after {
  content: var(--required-field-text);
  color: var(--required-field-color);
}

