.A-fade-in {
  opacity: 100;
}

.A-fade-out {
  opacity: 0;
}

.A-fade-siblings--P:not(:hover) > *,
.A-fade-siblings--P:not(:focus) > *,
.A-fade-siblings--H:not(:hover) > *,
.A-fade-siblings--F:not(:focus) > *,
.A-fade-siblings--A:not(:active) > * {
  transition-property: opacity;
  opacity: 1;
}

.A-fade-siblings--P:hover > :not(:hover),
.A-fade-siblings--P:focus > :not(:focus),
.A-fade-siblings--H:hover > :not(:hover),
.A-fade-siblings--F:focus > :not(:focus),
.A-fade-siblings--A:active > :not(:active) {
  opacity: 0.5;
}