:root {
  --A-0: 0;

  @for $i from 1 to 6 {
  --A-$(i): {{ animation.timing.$(i) }};
  }

  /* @for $i in "in", "out", "in-out" {
  --A-$(i): {{ timing.$(i) }};
  } */

  --A-in: var(--A-in);
  --A-out: var(--A-out);
  --A-in-out: var(--A-in-out);
}