:root {
  color-scheme: light dark;
}

@define-mixin default-color $b, $t {
:root {
  --c-I: var(--c-$(b)-I);
  --c-S: var(--c-$(b)-S);
  --c-W: var(--c-$(b)-W);
  --c-E: var(--c-$(b)-E);
}
}

@define-mixin default-theme $b, $t {
:root {
  --c-$(t): var(--c-$(b)-$(t));
  --bc-$(t): var(--bc-$(b)-$(t));
  --c-$(t)-D: var(--c-$(b)-$(t)-D);
  --c-$(t)-ID: var(--c-$(b)-$(t)-ID);
}
}

@define-mixin theme $b, $brightness, $s, $swatch {
:root {
--c-$(b)-I: {{ theme.$(brightness).info.color }};
--bc-$(b)-I: {{ theme.$(brightness).info.backgroundColor }};
--c-$(b)-S: {{ theme.$(brightness).success.color }};
--bc-$(b)-S: {{ theme.$(brightness).success.backgroundColor }};
--c-$(b)-W: {{ theme.$(brightness).warning.color }};
--bc-$(b)-W: {{ theme.$(brightness).warning.backgroundColor }};
--c-$(b)-E: {{ theme.$(brightness).error.color }};
--bc-$(b)-E: {{ theme.$(brightness).error.backgroundColor }};
--c-$(b)-$(s): {{ theme.$(brightness).$(swatch).color }};
--bc-$(b)-$(s): {{ theme.$(brightness).$(swatch).backgroundColor }};
--c-$(b)-$(s)-D: {{ theme.$(brightness).$(swatch).disabled }};
--c-$(b)-$(s)-ID: {{ theme.$(brightness).$(swatch).invertedDisabled }};
} 
}

@mixin theme L, light, P, primary;
@mixin theme L, light, A, accent;
@mixin theme D, dark, P, primary;
@mixin theme D, dark, A, accent;
@mixin default-color L;
@mixin default-theme L, P;
@mixin default-theme L, A;

@media (prefers-color-scheme: dark) {
@mixin default-color D;
@mixin default-theme D, P;
@mixin default-theme D, A;
}