:root {
  --c-I: {{ color_info}};
  --c-S: {{ color_success }};
  --c-W: {{ color_warning }};
  --c-E: {{ color_error }};

  /* light theme */
  /* default theme */
  @define-mixin bright-theme $b $bright $t $theme {
  --c-$(b)-$(t): {{ color_$(bright)_$(theme) }};
  --bc-L-P: {{ backgroundColor_$(bright)_$(theme) }};
  --c-L-P-D: {{ color_light_$(bright)_$(theme)_disabled }};
  --c-L-P-ID: {{ color_$(bright)_$(theme)_inverted_disabled }};
  }

  @mixin bright-theme L light P primary;
  @mixin bright-theme L light A accent;
  @mixin bright-theme D dark P primary;
  @mixin bright-theme D dark A accent;

  /* sets the default */
  @define-mixin theme $b $t {
  --c-$(t): var(--c-$(b)-$(t));
  --bc-$(t): var(--bc-$(b)-$(t));
  --c-$(t)-D: var(--c-$(b)-$(t)-D);
  --c-$(t)-ID: var(--c-$(b)-$(t)-ID);
  }

  @mixin theme L P;
  @mixin theme L A;
}