@import './spacing.css';

:root {
  /* size */
  --fs-S: {{ font.scale }};

  /* NOTE: should be between 16-20px for optimal readability */
  --fs-B: calc(var(--S) * 5px);

  @for $i from 1 to 6 {
  --fs-H$(i)-O: {{ font.H$(i).override.size }};
  }

  /* unless override is set, use typographic scale */
  @for $i from 1 to 6 {
  --fs-H$(i): var(--fs-H$(i)-O, calc(var(--fs-S) * var(--fs-B) * (6 - $(i)rem)));
  }

  /* family */
  --ff-B: {{ font.body.family }};

  --ff-H: {{ font.heading.family }};

  @for $i from 1 to 6 {
  --ff-H$(1)-O: {{ font.h$(i).override.family }};
  }

  @for $i from 1 to 6 {
  --ff-H$(1): var(--ff-H$(i)-O, --ff-H);
  }  

  /* weight */
  --fw-B: {{ font.body.weight }};

  --fw-H: {{ font.heading.weight }};
  @for $i from 1 to 6 {
  --fw-H$(i)-O: {{ font.h$(i).override.weight }};
  }

  @for $i from 1 to 6 {
  --fw-H$(i): var(--fw-H$(i)-O, --fw-H);
  }

  /* line heights */
  --lh-B: {{ font.body.lineHeight }};

  --lh-H: {{ font.heading.lineHeight }};
  @for $i from 1 to 6 {
  --lh-H$(i)-O: {{ font.h$(i).override.lineHeight }};
  }

  @for $i from 1 to 6 {
  --lh-H$(i): var(--lh-H$(i)-O, --lh-H);
  }
  
  /* text-decoration */
  --td-B: {{ font.body.decoration }};

  --td-H: {{ font.heading.decoration }};
  @for $i from 1 to 6 {
  --td-H$(i)-O: {{ font.h$(i).override.decoration }};
  }

  @for $i from 1 to 6 {
  --td-H$(i): var(--td-H$(i)-O, --td-H);
  }

  /* text-transform */
  --tt-B: {{ font.body.transform }};

  --tt-H: {{ font.heading.transform }};
  @for $i from 1 to 6 {
  --tt-H$(i)-O: {{ font.h$(i).override.transform }};
  }

  @for $i from 1 to 6 {
  --tt-H$(i): var(--tt-H$(i)-O, --tt-H);
  }
}
