@import './spacing.css';

:root {
  /* family */
  --ff-b: sans-serif;

  --ff-h: serif;

  @for $1 from 1 to 6 {
  --ff-h$(1)-O: unset;
  }

  @for $1 from 1 to 6 {
  --ff-h$(1): var(--ff-h$(1)-O, --ff-h);
  }
  
  /* size */
  --scale: 1.13;

  /* NOTE: should be between 16-20px for optimal readability */
  --fs-b: calc(var(--S) * 5px);

  @for $1 from 1 to 6 {
  --fs-h$(1)-O: unset;
  }

  /* unless override is set, use typographic scale */
  @for $1 from 1 to 6 {
  --fs-h$(1): var(--fs-h$(1)-O, calc(var(--scale) * var(--fs-b) * (6 - $(1)rem)));
  }

  /* line heights */
  --lh-b: 1.8;
  --lh-h: 1;

  @for $1 from 1 to 6 {
  --lh-h$(1)-O: unset;
  }

  @for $1 from 1 to 6 {
  --lh-h$(1): var(--lh-h$(1)-O, --lh-h);
  }

  /* weight */
  --fw-h: 700;
  --fw-b: 400;

  @for $1 from 1 to 6 {
  --fw-h$(1)-O: unset;
  }

  @for $1 from 1 to 6 {
  --fw-h$(1): var(--fw-h$(1)-O, --fw-h);
  }

  /* text-decoration */
  --td-h: none;

  @for $i from 1 to 6 {
  --td-h$(i)-O: unset;
  }

  @for $i from 1 to 6 {
  --td-h$(i): var(--td-h$(i)-O, --td-h);
  }

  /* text-transform */
  --tt-h: none;

  @for $i from 1 to 6 {
  --tt-h$(i)-O: unset;
  }

  @for $i from 1 to 6 {
  --tt-h$(i): var(--tt-h$(i)-O, --tt-h);
  }
}
