:root {
  --S: {{ spacing.baseline }};

  /* multipliers for the baseline size */
  @for $i from 1 to 6 {
  --S-$(i): calc({{ spacing.multiplier.$(i) }} * 1px);
  }

  --S-B: calc(var(--fs-b) * var(--lh-b));
  
  --w-P: {{ spacing.pageWidth }};
  --S-P: {{ spacing.pagePadding }};
}