:root {
  /* baseline size */
  --S: {{ baseline }};

  /* multipliers for the baseline size */
  @for $1 from 1 to 6 {
  --S-$(1): {{ multiplier_$(1) }};
  }

  --S-P: {{ page }};
  --S-B: calc(var(--fs-b) * var(--lh-b));
  --S-H: calc(var(--fs-h) * var(--lh-h));
}